<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Traveler | Hotel</title>
    
    <!-- core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head><!--/head-->

<body class="homepage">
    <section id="main-slider" class="no-margin">
        <div class="row" style="height:400px">
            <div id = "image_back", class="col-sm-12", style="background-size:cover; opacity: 0.6;filter: alpha(opacity=100);height:330px;-webkit-filter: contrast(50%); -webkit-filter: blur(5px)">
            </div>
            <img id = "hotel_image" style="position:relative;bottom: 300px;height:330px; width:400px; display: block; margin-left: auto; margin-right: auto"/>
        </div>
        <div class = "container">
            <h1 id = "hotel_title" style="fond-size:30px; color: black"></h1>
            <h3 id = "review_total"></h3>
            <h3 id = "address"></h3>
        </div>
    </section><!--/#main-slider-->

    <section>
        <div class="row">
            <div class="col-sm-8 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <div class="widget tags" style="margin-left: 100px">
                    <h3>Read Reviews that mentions</h3>
                    <ul class="tag-cloud">
                        <li><a class="btn btn-xs btn-primary" href="#">time square</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">downtown area</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">cruise port</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">quite room</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">perfect location</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">wonderful hotel</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">broadway shows</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">bagels</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">wine and cheese</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">mini suite</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <div class="widget search" style="margin-top: 50px;margin-right: 50px">
                    <form role="form">
                            <input id = "query" type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                            <button class="btn btn-primary" type="submit" id = "submit-button">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

     <section id="all_reviews" style="margin-top:30px;margin-left:30px;margin-right:30px">
<!--         <div class="container">
            <div class="row">
                <div class="col-sm-3 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="skill">
                        <h2>Traveler Ratings</h2>
                        <div class="progress-wrap">
                            <h3>cleanliness</h3>
                            <div class="progress">
                              <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="bar-width">85%</span>
                              </div>

                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>service</h3>
                            <div class="progress">
                              <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                               <span class="bar-width">95%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>value</h3>
                            <div class="progress">
                              <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="bar-width">80%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>location</h3>
                            <div class="progress">
                              <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="bar-width">90%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>sleep quality</h3>
                            <div class="progress">
                              <div class="progress-bar color5" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="bar-width">80%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>room</h3>
                            <div class="progress">
                              <div class="progress-bar color6" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="bar-width">90%</span>
                              </div>
                            </div>
                        </div>

                    </div>

                </div><!--/.col-sm-6 -->

<!--                 <div class="col-sm-9 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="accordion">
                        <h2>Related Reviews</h2>
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  The room is very clean!
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="static/images/user3.jpeg">
                                        </div>
                                        <div class="media-body">
                                             <h4>Author/Date</h4>
                                             <p>this hotel has a great atmosphere starting with a great lobby (particularly liked the lighting display at night) and wonderful views from our room of the skyline and bay.</p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Fantasy stay and great location
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Super Hotel
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Have a really good sleep here
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Best location in downtown
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->
    </section>

    <script>
        var index = window.location.pathname.split('/')[2];
        var profile = ["https://media-cdn.tripadvisor.com/media/photo-l/01/2e/70/6b/avatar049.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/01/2e/70/83/avatar004.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/09/75/af/d4/2012j-r.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/01/2e/70/57/avatar030.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/0b/21/4d/e5/sofia-m.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/01/2a/fd/a3/avatar.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/0b/03/7d/ee/warren-w.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/05/e8/1a/ab/sandra-s.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/01/2a/fd/93/avatar.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/01/2a/fd/a1/avatar.jpg",
                       "https://media-cdn.tripadvisor.com/media/photo-l/0a/20/06/a5/michel-d.jpg"];
        $.ajax({
          type: "GET",
          url: "/index_id/" + index + "/",
          success: function(data) {
            // console.log(data);
            $("#hotel_title").html(data[1]["name"]);
            $("#review_total").html(data[1][" reviews_total"]);
            $("#address").html(data[1]["address"]["street_address"] + " , " + data[1]["address"]["locality"] + " , " + data[1]["address"]["region"]) 
            // console.log(data[1]["image"])

            $("#hotel_image").attr("src", data[1]["image"] );
            $("#image_back").css('background-image', 'url(' + data[1]["image"] + ')');



            for(i = 0; i < 10; i++){
              var review;
              if("good_reviews" in data[1]){
                  // alert("good bad");
                  console.log("not undefined");
                  good_review = data[1]["good_reviews"][i];
                  bad_review = data[1]["bad_reviews"][i];

                  $("#all_reviews").append(
                  '<div class="container">' +
                      '<div class="row">' +
                          '<div class="col-xs-6 col-sm-6 wow fadeInDown">' + 
                              '<div class="testimonial">' +
                                   '<div class="media testimonial-inner">' +
                                      '<div class="pull-left">' +
                                          '<img class="img-circle" style="height:30%; width: 30%" src=' + profile[i] + '>' +
                                          '<p>' + good_review["date"] + '</p>' +
                                      '</div>' +
                                      '<div class="media-body">' + 
                                          '<h3><strong>' + good_review["title"] + '</strong></h3>' + 
                                          '<p><strong>' + good_review["author_location"] + '</strong></p>' +
                                          '<p class = "paritial", id = "partial_good' + i + '">' + good_review["content"].split('.')[0] + '</p>' +
                                          '<p hidden id = "total_good' + i + '">' + good_review["content"] + '</p>' +
                                          '<p><a class = "showtext" textId = "good_' + i + '">' + "read all" + '</a></p>' +
                                      '</div>' +
                                   '</div>' +
                              '</div>' +
                          '</div>' +

                          '<div class="col-xs-6 col-sm-6 wow fadeInDown">' +
                              '<div class="testimonial">' +
                                   '<div class="media testimonial-inner">' +
                                      '<div class="pull-left">' +
                                          '<img class="img-circle" style="height:30%; width: 30%" src=' + profile[10 - i] + '>' +
                                          '<p>' + bad_review["date"] + '</p>' +
                                      '</div>' +
                                      '<div class="media-body">' + 
                                          '<h3><strong>' + bad_review["title"] + '</strong></h3>' + 
                                          '<p><strong>' + bad_review["author_location"] + '</strong></p>' +
                                          '<p class = "paritial", id = "partial_bad' + i + '">' + bad_review["content"].split('.')[0] + '</p>' +
                                          '<p hidden id = "total_bad' + i + '">' + bad_review["content"] + '</p>' +
                                          '<p><a class = "showtext" textId = "bad_' + i + '">' + "read all" + '</a></p>' +
                                      '</div>'  +                                  
                              '</div>' +
                          '</div>' +
                      '</div>' +
                  '</div>'
              )
              }else{
                  console.log("====");
                  review = data[1]["reviews"][i];
                  $("#all_reviews").append(
                  '<div class="container">' +
                      '<div class="row">' +
                          '<div class="col-xs-12 col-sm-12 wow fadeInDown">' + 
                              '<div class="testimonial">' +
                                   '<div class="media testimonial-inner">' +
                                      '<div class="pull-left">' +
                                          '<img class="img-circle" style="height:50%; width: 50%" src=' + profile[i] + '>' +
                                          '<p>' + review["date"] + '</p>' +
                                      '</div>' +
                                      '<div class="media-body">' + 
                                          '<h3><strong>' + review["title"] + '</strong></h3>' + 
                                          '<p><strong>' + review["author_location"] + '</strong></p>' +
                                          '<p>' + review["content"] + '</p>' +
                                      '</div>' +
                                   '</div>' +
                              '</div>' +
                          '</div>' +
                      '</div>' +
                  '</div>'
              )
              }
            }
          }
        }); 

        $("#all_reviews").on("click", '.showtext', function(e){
          var attr = e.target.getAttribute("textId").split('_')[0];
          var totalId = e.target.getAttribute("textId").split('_')[1];
          $("#partial_"+attr+totalId).hide();
          $("#total_"+attr+totalId).show();
        });


        $("#submit-button").on("click", function(e){
              alert("click");
              $.ajax({
                  type: "POST",
                  url: "/index_id/" + index + "/",
                  data: {
                      csrfmiddlewaretoken: "{{ csrf_token }}",
                      'query': $('#query').val(),
                      'hotel_id': index
                  },
                  success: function(data) {
                    alert("!!");
                    $("#all_reviews").empty();
                  }
            });
        });

    </script>


    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script scr="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>